body {
    background-image: url("https://media.istockphoto.com/id/1445196818/photo/group-of-cute-pets-on-white-background-banner-design.webp?b=1&s=170667a&w=0&k=20&c=iQ527QsrVbpECw-3b8GQVw0YD5FhBoorJzFPYQSw_40=");
    background-size: cover;
    font-family: Georgia, 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
}

.container {
    background: white;
    max-width: 80%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: pink;
    border: 1px dashed yellowgreen;
}

#save-btn {
    background: aquamarine;
    border: 1px dashed yellowgreen;
}

#save-el {
    font-weight: bold;
}

#pet-counter {
    max-width:200px;
}
